@import "tailwindcss";


@theme{
    --color-primary: #9333ea; 
    --color-secondary:#FFFFFF;
    --color-primary-red:#fb2c36 ;
    --color-primary-gray: #6a7282;    
    --color-secondary-gray: #d1d5dc; 
    --color-primary-blue:#4f39f6;


    

};
@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-purple-600 text-white rounded-md hover:bg-purple-700 transition-colors;
  }

  .btn-secondary {
    @apply px-4 py-2 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-50 transition-colors;
  }

  .card {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4  2xl:grid-cols-4 gap-4 mx-2 mt-2 p-2 shadow-xl rounded;
  }

  .input-field {
    @apply w-full border rounded-lg px-3 py-2;
  }
  .error-field {
    @apply text-red-500 text-sm mt-1
  }

  .job-headerFilter {
  @apply  w-4 h-4 text-primary cursor-pointer hover:opacity-70
  }

  .job-Title {
    @apply font-semibold text-gray-900 truncate
  }

  .isActive {
    @apply border-b-2 border-primary font-semibold
  }
  .notActive {
    @apply text-black   
  }
}
